arrays-numpy
graphs-matplotlib,seaborn
excel(rows,column)- pandas

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import numpy as np
import pandas as pd

series and dataframe

In [3]:
dataset={'cars':['honda','tesla','bmw'],'years':[7,3,10]}
df=pd.DataFrame(dataset)
df

    cars  years
0  honda      7
1  tesla      3
2    bmw     10

In [4]:
type(df)

pandas.core.frame.DataFrame

In [9]:
age=[10,20,30,40,50,60,70]
mileage=[20,30,40,50,77,15,44]
mileage=np.array(mileage)

age[5]

60

In [10]:
df1=pd.Series(age)
df1

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [11]:
type(mileage)

numpy.ndarray

In [12]:
df3=pd.Series(mileage)
df3

0    20
1    30
2    40
3    50
4    77
5    15
6    44
dtype: int32

In [14]:
df3[1:5:2]

1    30
3    50
dtype: int32

In [16]:
a=[1,7,2]
a1=pd.Series(a,index=['x','y','z'])
a1

x    1
y    7
z    2
dtype: int64

In [18]:
a1['y']

7

In [19]:
calories={'day1':420,'day2':200,'day3':400}
df=pd.Series(calories)
df

day1    420
day2    200
day3    400
dtype: int64

In [20]:
df=pd.Series(calories,index=['day1','day3'])
df

day1    420
day3    400
dtype: int64

In [27]:
data={'calories':[120,240,200],'duration':[60,80,120]}
df=pd.DataFrame(data)
df

   calories  duration
0       120        60
1       240        80
2       200       120

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calories  3 non-null      int64
 1   duration  3 non-null      int64
dtypes: int64(2)
memory usage: 176.0 bytes

In [24]:
data={'calories':['120','240','200'],'duration':[60,80,120]}
df=pd.DataFrame(data)
df

  calories  duration
0      120        60
1      240        80
2      200       120

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calories  3 non-null      object
 1   duration  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [28]:
df.loc[2]

calories    200
duration    120
Name: 2, dtype: int64

In [29]:
df.loc[[0,2]]

   calories  duration
0       120        60
2       200       120

In [30]:
df.loc[0:2]

   calories  duration
0       120        60
1       240        80
2       200       120

In [31]:
df

   calories  duration
0       120        60
1       240        80
2       200       120

In [32]:
df=pd.DataFrame(data,index=['day 1','day 2','day 3'])
df

       calories  duration
day 1       120        60
day 2       240        80
day 3       200       120